In [2]:
import os
import json
import pandas as pd

In [3]:
with open("../data/spending.json") as infile:
    unemployment = json.load(infile)

In [7]:
for series in unemployment["series"]["docs"]:
    if (county := series["dimensions"]["county"]) != "NA":
        df = pd.DataFrame(index=series["period"], data=series["value"], columns=["value"])
        break

In [11]:
df.replace("NA", pd.NA)

            value
2018-12-31   True
2020-01-01   True
2020-01-02   True
2020-01-03   True
2020-01-04   True
...           ...
2022-04-13  False
2022-04-14  False
2022-04-15  False
2022-04-16  False
2022-04-17  False

[839 rows x 1 columns]