In [1]:
import duckdb
import pandas as pd
import sqlalchemy
# No need to import duckdb_engine
#  SQLAlchemy will auto-detect the driver needed based on your connection string!

# Import ipython-sql Jupyter extension to create SQL cells
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:///../data/dx.db

In [12]:
%sql SELECT * FROM read_parquet('../data/emp_data_county/1007.parquet');

    value __index_level_0__
0    None        2020-01-14
1    None        2020-01-15
2    None        2020-01-16
3    None        2020-01-17
4    None        2020-01-18
..    ...               ...
570  None        2021-08-06
571  None        2021-08-07
572  None        2021-08-08
573  None        2021-08-09
574  None        2021-08-10

[575 rows x 2 columns]